{% extends "auctions/layout.html" %}

{% block body %}
    
    <div class="container">
        <div class="row">
            <div class="detail-item d-flex flex-row">
                <div class="col-4">
                    <!-- Tabbed Gallery. -->
                    <div class="container">
                        <div class="image-container">
                            <img id="expandedImg" src="/media/{{ auction.image }}" alt="" style="width:230px">
                        </div>
                        <div class="row">
                            <div class="gallery-column">
                                <img src="/media/{{ auction.image }}" alt="" style="width:100%" onclick="expandImage(this);">
                            </div>
                            {% for image in images %}
                            <div class="gallery-column">
                                <img src="/media/{{ image.image }}" alt="" style="width:100%" onclick="expandImage(this);">
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- /.Tabbed Gallery. -->
                </div>
                <div class="col-8">
                    <!-- Title with watchlist button. -->
                    <h2>
                        {{ auction.title }}
                        {% if request.user.is_authenticated %}
                                {% if request.user in auction.wl.all %}
                                    <a href="{% url 'watchlist' id %}"><i class="fas fa-heart"></i></a>
                                {% else %}
                                    <a href="{% url 'watchlist' id %}"><i class="far fa-heart"></i></a>
                                {% endif %}                               
                        {% endif %}                        
                    </h2>
                    <!-- /.Title. -->
                    <!-- Description. -->
                    <div class="detail-description"><p>{{ auction.description }}</p> </div>
                    <!-- Latest Bid. -->
                    <div class="detail-price">Latest Bid: {{ auction.get_latest_bid.price }}</div>
                    {% if user_won %}
                        <div class="row">
                            <div><h2 class="auction-won">You won this auction!</h2></div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- Make a Bid. -->
        {% if request.user != auction.user %}
        <div class="bid-form">
            <form class="place-bid" action="{% url 'detail' id %}" method="post">
                {% csrf_token %}
                <input type="number" required name="bid" min="{{ auction.get_latest_bid.price }}" value="0" step=".01">
                <button class="btn btn-primary" type="submit">Place Bid</button>
            </form>
        </div>
        {% else %}
        <!-- Stop Auction. -->
        <div class="close-bid">
            <form class="delete-bid" action="{% url 'detail' id %}" method="post">
                {% csrf_token %}
                <button class="btn btn-danger" type="submit">Close Auction</button>
            </form>
        </div>
        {% endif %}
        <!-- Comments. -->
        <div class="comments-section mt-3">
            <h2>Comments</h2>
            {% if request.user.is_authenticated %}
            <div class="comments-form">
                <form action="{% url 'new_comment' id %}" method="post" id="comments-form">
                    {% csrf_token %}
                    <textarea rows="2" cols="60" form="comments-form" name="comment" placeholder="Type in a comment"></textarea>
                    <br>
                    <button class="btn btn-primary mt-2 float-right" type="submit">Submit</button>
                </form>
            </div>
            {% endif %}
            <div class="comments-list">
                {% for comment in comments %}
                    <div class="comment">
                        <div class="comment-user">{{ comment.user_id }} <span> said on {{ comment.date }}</span></div>
                        <div class="actual-comment"><p>{{ comment.comment }}</p></div>
                    </div>
                {% empty %}
                    <p>There are no comments for this auction.
                        {% if not request.user.is_authenticated %}
                        Please, <a href="{% url 'login' %}">log in</a> if you want to comment.
                        {% endif %}
                    </p>
                {% endfor %}
            </div>
        </div>
    </div>
<!-- Tabbed Gallery -->
<script>
    function expandImage(imgs) {
        var expandImg = document.getElementById("expandedImg");
        expandImg.src = imgs.src;
    }
</script>
{% endblock %}